fastapi>=0.115,<1.0
uvicorn[standard]>=0.30
SQLAlchemy>=2.0
pydantic>=2.7
pydantic-settings>=2.3
email-validator>=2.1
fastapi-pagination>=0.12
PyJWT>=2.8
passlib[bcrypt]>=1.7
bcrypt>=4.0,<4.1
python-multipart>=0.0.9
psycopg2-binary>=2.9
python-dotenv>=1.0
